<header class="p-5 d-flex justify-content-center bg-light">
  <h1 class="text-center col-12">
    {{!selectedBrand ? 'Brands' : selectedBrand | titlecase}}
  </h1>
  <p
    *ngIf="selectedBrand"
    (click)=clearBrand()
    style="cursor: pointer;"
    class="text-primary"
  >
    Home
  </p>
</header>


<main class="m-5 py-5" style="min-height:59vh">
  <!-- Card -->
  <section *ngIf="!selectedBrand">
    <div class="d-flex gap-2 justify-content-center mb-4">
      <div class="col-11 col-md-6 mb-5">
        <input
          type="text"
          name="searchTerm"
          class="form-control"
          placeholder="Find a brand..."
          [(ngModel)]="searchTerm" 
          (input)="searchTerm" 
        />
      </div>
      <div>
        <select
          name="sort"
          [(ngModel)]="sort" 
          (input)="sort" 
          class="form-select"
        >
          <option value="name-a">a-z</option>
          <option value="name-z">z-a</option>
        </select>
      </div>
    </div>
    <div class="d-flex gap-5 justify-content-center flex-wrap">
      <div
        *ngFor="let brand of brands | searchFilter: searchTerm: sort"
        class="-card shadow text-muted rounded justify-content-center d-flex align-items-center col-12 col-md-3"
        (click)=selectBrand(brand.name)
        style="height: 150px; cursor: pointer;"
      >
        <h2>{{ brand.name | titlecase }}</h2>
      </div>
    </div>
  </section>

  <!-- Form -->
  <section *ngIf="selectedBrand" class="d-flex justify-content-center">
    <form
      [formGroup]="checkoutForm"
      (ngSubmit)="onSubmit()"
      class="p-5 col-lg-6 col-10 shadow rounded"
    >
      <h3 class="text-center mb-3 text-muted">Send a message</h3>
      <div *ngIf="error" class="alert alert-danger alert-dismissible">
        Please fill in the fields or write the mail well
        <button (click)=closeAlert() type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="input-group mb-3">
        <input required type="text" formControlName="name" placeholder="Name" class="form-control" />
      </div>
      <div class="input-group mb-3">
        <input required type="email" formControlName="email" placeholder="Email" class="form-control" />
      </div>
      <div class="input-group mb-3">
        <textarea required formControlName="message" placeholder="Message" class="form-control"></textarea>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-light">Send</button>
      </div>
    </form>
  </section>

  <!-- Modal -->
  <div *ngIf="modal" class="modal" style="display: block!important" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">
            {{ selectedBrand | titlecase }}
          </h3>
          <button
            (click)=closeModal()
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
          </button>
        </div>
        <div class="modal-body">
          <h5 class="text-center mb-4">
            Thanks for the message {{ checkoutForm.value.name }}
          </h5>
          <p>Your email: {{ checkoutForm.value.email }}</p>
          <p>Your message: {{ checkoutForm.value.message }}</p>
        </div>
        <div class="modal-footer">
          <button
            (click)=closeModal()
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

</main>


<footer class="p-5 text-center bg-dark text-white">
  <p class="fs-5">
    Andres Romero
  </p>
</footer>